/*
 * Configuration File to run fmalmeida/bacannot pipeline.
 */

// loading required / default pipeline parameters
includeConfig 'conf/defaults.config'

/*
                                        Configuration of Nextflow Scopes
 */

//Trace Report
trace {
    enabled = false
    file = "${params.output}" + "/annotation_pipeline_trace.txt"
    fields = 'task_id,name,status,exit,realtime,cpus,%cpu,memory,%mem,rss'
}

//Timeline Report
timeline {
    enabled = false
    file = "${params.output}" + "/annotation_pipeline_timeline.html"
}

//Complete Report
report {
    enabled = false
    file = "${params.output}" + "/annotation_pipeline_nextflow_report.html"
}

/*
                Setting up NF profiles
                To use different profiles and executors
                please read more at: https://www.nextflow.io/docs/latest/config.html#config-profiles
*/

profiles {
    standard   { includeConfig 'conf/standard.config'                   }
    test       { includeConfig 'conf/test_profile.config'               }
    quicktest  { includeConfig 'conf/small_dataset_test_profile.config' }
    docker     { includeConfig 'conf/docker.config'                     }
    awsBatch   { includeConfig 'conf/aws.config'                        }
    // conda { includeConfig 'conf/conda.config' }
    // gls { includeConfig 'conf/gcp.config' }
    // azureBatch { includeConfig 'conf/azure.config' }
}

/*
                                    Adding manifest
*/
manifest {
  name            = "fmalmeida/bacannot"
  author          = "Felipe Almeida"
  description     = "Nextflow pipeline for bacterial genome annotation"
  homePage        = "https://github.com/fmalmeida/bacannot"
  mainScript      = "main.nf"
  nextflowVersion = ">=20.10.0"
  version         = "3.1"
}

// specifying number of threads wanted
process.cpus = params.threads