// Container usage and permission
singularity.enabled = false
docker {
  enabled      = true
  runOptions   = '--platform linux/amd64 -u root:$(id -g)'
}


/*
                Configuration of Docker usage
                DO NOT change any of those
*/

// specific images
process {
    
    // container with various tools for general purposes
    withLabel: 'db_download|db_tools|misc' {
      container = 'fmalmeida/bacannot:v3.3_misc'
    }

    // container for R tools
    withLabel: 'renv' {
      container = 'fmalmeida/bacannot:v3.3_renv'
    }

    // container for bacannot server
    withLabel: 'server' {
      container = 'fmalmeida/bacannot:server'
    }

    withLabel: 'jbrowse' {
      container = 'fmalmeida/bacannot:jbrowse'
    }
}

