// Container usage and permission

docker {
  enabled      = true
  runOptions   = '--platform linux/amd64 -u $(id -u):root'
  fixOwnership = true
}


/*
                Configuration of Docker usage
                DO NOT change any of those
*/

// specific images
process {
    
    withName: 'CREATE_DBS' {
        container = 'fmalmeida/bacannot:v3.0'
    }

    // withLabel: 'main' {
    //     container = 'fmalmeida/bacannot:v3.0'
    // }

    // withLabel: 'renv' {
    //     container = 'fmalmeida/bacannot:v3.0_renv'
    // }

    // withLabel: 'jbrowse' {
    //     container = 'fmalmeida/bacannot:jbrowse'
    // }

    // withLabel: 'kofam' {
    //     container = 'fmalmeida/bacannot:kofamscan'
    // }

    // withLabel: 'smash' {
    //     container = 'fmalmeida/bacannot:antismash'
    // }

    // withLabel: 'unicycler' {
    //     container = 'quay.io/biocontainers/unicycler:0.4.8--py38h8162308_3'
    // }

    // withLabel: 'flye' {
    //     container = 'quay.io/biocontainers/flye:2.9--py39h39abbe0_0'
    // }
}

