// Container usage and permission

docker {
  enabled      = true
  runOptions   = '--platform linux/amd64 -u $(id -u):root'
  fixOwnership = true
}


/*
                Configuration of Docker usage
                DO NOT change any of those
*/

// specific images
process {
    withLabel: 'main' {
        container = 'fmalmeida/bacannot:v2.4'
    }

    withLabel: 'renv' {
        container = 'fmalmeida/bacannot:v2.4_renv'
    }

    withLabel: 'jbrowse' {
        container = 'fmalmeida/bacannot:jbrowse'
    }

    withLabel: 'kofam' {
        container = 'fmalmeida/bacannot:kofamscan'
    }

    withLabel: 'smash' {
        container = 'fmalmeida/bacannot:antismash'
    }

    withLabel: 'assembly' {
        container = 'fmalmeida/mpgap:v2.3'
    }
}

