// Container usage and permission
docker.enabled         = false
singularity.enabled    = true
singularity.runOptions = '--writable-tmpfs -B $PWD'


/*
                Configuration of Docker usage
                DO NOT change any of those
*/

// specific images
process {
    
    //
    // Custom pipeline's containers with various tools for general purposes
    //
    withLabel: 'db_download|db_tools|misc' {
      container = 'docker://fmalmeida/bacannot:v3.3_misc'
    }

    // container for R tools
    withLabel: 'renv' {
      container = 'docker://fmalmeida/bacannot:v3.3_renv'
    }

    // container for bacannot server
    withLabel: 'server' {
      container = 'docker://fmalmeida/bacannot:server'
    }

    withLabel: 'jbrowse' {
      container = 'docker://fmalmeida/bacannot:jbrowse'
    }

    //
    // Public containers used within the pipeline
    //
    withName: FLYE {
      container = "https://depot.galaxyproject.org/singularity/flye:${params.flye_version}"
    }

    withName: UNICYCLER {
      container = "https://depot.galaxyproject.org/singularity/unicycler:${params.unicycler_version}"
    }
}

