// Container usage and permission
docker.enabled         = false
singularity.enabled    = true
// singularity.runOptions = '--writable-tmpfs -B $PWD'
singularity.autoMounts = true
env.SINGULARITY_DISABLE_CACHE = 1


/*
                Configuration of Docker usage
                DO NOT change any of those
*/

// specific images
process {  
    // container with various tools for general purposes
    withLabel: 'db_download|db_tools|misc' {
      container = 'docker://fmalmeida/bacannot:v3.3_misc'
    }

    // container for R tools
    withLabel: 'renv' {
      container = 'docker://fmalmeida/bacannot:v3.3_renv'
    }

    // container for bacannot server
    withLabel: 'server' {
      container = 'docker://fmalmeida/bacannot:server'
    }

    withLabel: 'jbrowse' {
      container = 'docker://fmalmeida/bacannot:jbrowse'
    }
}

