// Container usage and permission
docker.enabled                = false
env.SINGULARITY_DISABLE_CACHE = 1
singularity {
  enabled      = true
  envWhitelist = ['SINGULARITY_TMPDIR']
  autoMounts   = true
}
params.running_engine = 'singularity'
// singularity.runOptions = '--writable-tmpfs -e --no-home -B $PWD'


/*
                Configuration of Docker usage
                DO NOT change any of those
*/

// specific images
process {
    
    //
    // Custom pipeline's containers with various tools for general purposes
    //
    withLabel: 'db_download|db_tools|misc' {
      container = 'docker://fmalmeida/bacannot@sha256:bdb31637cacf99736656ab3b69f1f01ba1b5eb026771d5c266b4c84e96153057'
    }

    // container for R tools
    withLabel: 'renv' {
      container = 'docker://fmalmeida/bacannot@sha256:952f58a2c03e50f8a376073346fb1ccda28d6249e3fdfea07a3286a6ff1adf0c'
    }

    // container for bacannot server
    withLabel: 'server' {
      container = 'docker://fmalmeida/bacannot@sha256:0ec3b289d6e0c624556d125b2ed9b63499178e266a315175fd87cf020a402898'
    }

    // container for jbrowser
    withLabel: 'jbrowse' {
      container = 'docker://fmalmeida/bacannot@sha256:6afdca17b561bf212c1f976422aee3fe047563c32a15112a6262556d1f75201e'
    }

    // container for antismash
    withName: 'ANTISMASH|ANTISMASH_DB' {
      container = 'docker://fmalmeida/bacannot@sha256:fe42fbbfb7d4a026dafb146cb533ee7f1d9a97b25ec6df64840796c343707ebb'
    }

    //
    // Public containers used within the pipeline
    //
    withName: FLYE {
      container = "https://depot.galaxyproject.org/singularity/flye:${params.flye_version}"
    }

    withName: UNICYCLER {
      container = "https://depot.galaxyproject.org/singularity/unicycler:${params.unicycler_version}"
    }

    withName: 'AMRFINDER_DB|AMRFINDER' {
      container = "docker://ncbi/amr:3.11.2-2022-12-19.1"
    }

    withName: BAKTA {
      container = "https://depot.galaxyproject.org/singularity/bakta:${params.bakta_version}"
    }

    withName: BARRNAP {
      container = "https://depot.galaxyproject.org/singularity/barrnap:0.9--hdfd78af_4"
    }

    withName: REFSEQ_MASHER {
      container = "https://depot.galaxyproject.org/singularity/refseq_masher:0.1.2--py_0"
    }

    withName: MLST {
      container = "https://depot.galaxyproject.org/singularity/mlst:2.19.0--hdfd78af_1"
    }

    withName: PROKKA {
      container = "https://depot.galaxyproject.org/singularity/prokka:1.14.6--pl5321hdfd78af_4"
    }

    withName: KOFAMSCAN {
      container = "https://depot.galaxyproject.org/singularity/kofamscan:1.3.0--hdfd78af_2"
    }

    withName: INTEGRON_FINDER {
      container = "https://depot.galaxyproject.org/singularity/integron_finder:2.0.1--pyhdfd78af_0"
    }

    withName: ISLANDPATH {
      container = "https://depot.galaxyproject.org/singularity/islandpath:1.0.6--hdfd78af_0"
    }

    withName: MOBSUITE {
      // container = "https://depot.galaxyproject.org/singularity/mob_suite:3.1.4--pyhdfd78af_0"
      container = "docker://quay.io/biocontainers/mob_suite:3.1.4--pyhdfd78af_0"
    }

    withName: PLASMIDFINDER {
      container = "https://depot.galaxyproject.org/singularity/plasmidfinder:2.1.6--py310hdfd78af_1"
    }

    withName: PLATON {
      container = "https://depot.galaxyproject.org/singularity/platon:1.6--pyhdfd78af_1"
    }

    withName: PHIGARO {
      container = "https://depot.galaxyproject.org/singularity/phigaro:2.4.0--pyhdfd78af_0"
    }

    withName: PHISPY {
      container = "https://depot.galaxyproject.org/singularity/phispy:4.2.21--py39h7cff6ad_0"
    }

    withName: CARD_RGI {
      container = "https://depot.galaxyproject.org/singularity/rgi:5.2.1--pyhdfd78af_1"
    }

}

