body{ /* Normal  */
      font-size: 12pt;
      line-height: 1.5;
  }
  
blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 11pt;
    border-left: 5px solid #ec5800;
}
  
.table {
  width: auto;
  text-align: center;
  font-size: 10.5pt;
  margin-left: auto;
  margin-right: auto;
}

.main-container {
  max-width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}

div.container {
  width: 80%;
}